<ion-content>
  <h1>Les règles du catalogue</h1>
  <ion-item>
    <strong><ion-label>Sommaire</ion-label></strong>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">Les règles du catalogue</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">1. POLITIQUES POUR LES VENDEURS PARTICULIERS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">a. ARTICLES AUTORISÉS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">b. ARTICLES INTERDITS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">c. RÈGLES GÉNÉRALES</ion-label>
    </ion-item>
  </ion-list>
  
<p>Nous voulons veiller à ce que TCG Place soit un lieu sûr et convivial pour l'achat et la vente de cartes de collection. Les membres sont donc tenus de respecter les règles du catalogue ci-dessous lorsqu'ils mettent leurs articles en ligne.</p>
<p>Notez que ces règles font partie de nos Termes et Conditions que les utilisateurs particuliers ont acceptés au moment de leur inscription sur TCG Place.</p>
<h2>1. POLITIQUES POUR LES VENDEURS PARTICULIERS</h2>
<h3>a. ARTICLES AUTORISÉS</h3>
<p>Sur TCG Place, vous pouvez vendre :</p>
<ul>
  <li>Des cartes de collection Pokemon.</li>
  <li>Si un article que vous vendez était initialement accompagné d'un mode d'emploi, d'un manuel ou d'un avertissement de sécurité, veuillez les inclure lorsque vous envoyez l'article à l'acheteur.</li>
</ul>
<p>Nous nous réservons le droit de redéfinir les articles qui peuvent ou non être mis en ligne sur TCG Place. Si nous découvrons que certains articles enfreignent nos conditions, nous pouvons retirer ces articles même s'ils ne figurent pas dans la liste ci-dessous.</p>
<p>En outre, les articles autorisés dans ces règles du catalogue doivent avoir été légalement mis sur le marché de l'Espace économique européen (EEE) (il inclut les États membres de l'Union européenne, l'Islande, le Liechtenstein et la Norvège) avant d'être mis en ligne sur la plateforme TCG Place. Cela signifie que ces articles doivent être légalement commercialisés dans l'EEE ou doivent avoir précédemment été légalement importés en EEE depuis l'extérieur (y compris depuis le Royaume-Uni).</p>
<h3>b. ARTICLES INTERDITS</h3>
<p>Voici ce que vous ne pouvez pas joindre en photo sur TCG Place (notez que cette liste n'est pas exhaustive et doit être considérée uniquement comme un guide) :</p>
<ul>
  <li>Photos d'articles illégaux : toute photo d'article ou matériau dont la possession, le commerce, la vente, l'affichage, le transport ou la production sont interdits par toute législation, règle ou réglementation applicable, tels que :</li>
  <ul>
    <li>Contrefaçons.</li>
    <li>Articles qui porteraient atteinte aux droits de propriété intellectuelle de leurs titulaires.</li>
    <li>Articles qui encouragent ou mettent en avant la violence, la discrimination, la haine, le crime, le terrorisme ou une organisation terroriste, ou de la pédopornographie.</li>
  </ul>
  <li>Remarque : les jeux, les livres et les films pouvant inclure des contenus interdits au titre de la règle ci-dessus sont autorisés dans les catégories Divertissement (voir les restrictions à ce sujet ci-dessous).</li>
  <li>Reproduction de n'importe quelle devise et articles liés à la reproduction de devises.</li>
  <li>Articles volés.</li>
  <li>Armes à feu, armes et explosifs, aérosols au poivre, tasers et articles similaires.</li>
  <li>Remarque : les armes jouets sont également interdites (p. ex. fusils airsoft).</li>
  <li>Drogues et accessoires facilitant la consommation de drogues, ingrédients pour cultiver de la drogue (p. ex. graines de cannabis).</li>
  <li>Uniformes nazis et fascistes et articles affichant des symboles nazis ou fascistes.</li>
  <li>Uniformes officiels, badges, accessoires ou tout autre type d'objet des forces armées, de la police ou d'autres services d'urgence. Emblèmes et noms de l'aide humanitaire internationale, seuls ou sur les vêtements.</li>
  <ul>
    <li>Remarque 1 : les uniformes et accessoires vintage sont autorisés s'ils datent de 10 ans ou plus, ne sont plus utilisés et ne ressemblent pas à un uniforme actuel.</li>
    <li>Remarque 2 : les déguisements et accessoires sont autorisés.</li>
  </ul>
  <li>Articles comprenant des restes humains ou animaux, ou des produits dérivés du corps humain.</li>
  <li>Articles (autrement) interdits par la loi ou des réglementations.</li>
</ul>
<p>Photos d'Articles soumis à restrictions : les photos d'articles qui ne sont pas des cartes de collection, qui n'ont pas de rapport avec la licence Pokémon ou qui ne correspondent tout simplement pas à la vision TCG Place, tels que :</p>
<ul>
  <li>Produits médicinaux délivrés sur ordonnance ou sans ordonnance, médicaments, fournitures médicales professionnelles, vitamines, compléments alimentaires et autres produits de santé.</li>
  <li>Produits relevant de la catégorie des « produits médicaux vétérinaires » (p. ex., shampooing anti-puces, vitamines, médicaments et produits similaires).</li>
  <li>Dispositifs médicaux (y compris les dispositifs médicaux implantables actifs) et dispositifs médicaux de diagnostic in vitro, tels que (liste non exhaustive) :</li>
  <ul>
    <li>Tests de grossesse, d'ovulation, d'ADN, de dépistage du COVID-19 et autres tests médicaux.</li>
    <li>Aiguilles.</li>
    <li>Lunettes de vue, lentilles de contact sur ordonnance et lunettes de soleil équipées de verres correcteurs.</li>
    <li>Appareil d'épilation au laser/à lumière pulsée.</li>
    <li>Plasma pens.</li>
    <li>Appareils pour la peau tels que des solariums pour le visage, des masques faciaux électroniques, des lampes à infrarouge pour thermothérapie.</li>
    <li>Lampes de beauté infrarouges et UV.</li>
    <li>Outils exfoliants et de gommage.</li>
    <li>Appareils pour soulager la douleur tels que les machines TENS et les appareils d'électrothérapie.</li>
    <li>Détecteurs du pouls foetal, appareils d'échographie, moniteurs respiratoires.</li>
    <li>Appareils de traitement par inhalation.</li>
    <li>Mouche-bébés, appareils d'aérosolthérapie.</li>
    <li>Détartreurs et brosses à dents.</li>
    <li>Appareils d'aide au sommeil.</li>
    <li>Thermomètre au mercure.</li>
    <li>Autres produits nécessitant une ordonnance dont l'usage doit être soumis à la supervision ou aux instructions d'un professionnel médical, ou dont l'usage est prévu à des fins médicales.</li>
  </ul>
  <p>Remarque : certains articles (p. ex. montres intelligentes ou bracelets intelligents intégrant les fonctionnalités de logiciels médicaux qui mesurent la pression sanguine ou la saturation en oxygène, ou qui effectuent une électrocardiographie) pouvant être qualifiés de dispositifs médicaux sont autorisés s'ils sont conformes aux lois applicables et si toutes les exigences ci-dessous sont remplies :</p>
  <ol>
    <li>Ils sont marqués du sigle CE et de l'identifiant à 4 chiffres de l'organe notifié (le cas échéant et si l'étiquette et le manuel d'utilisation sont rédigés dans la langue locale).</li>
    <li>Ils n'ont pas expiré.</li>
    <li>Ils relèvent d'autres catégories autorisées (p. ex. appareils électroniques, instruments de beauté).</li>
    <li>Ils sont neufs et vendus dans leur emballage d'origine (scellé).</li>
    <li>Ils ne sont pas distribués que par des professionnels de la santé.</li>
    <li>Ils peuvent être vendus sans ordonnance.</li>
    <li>Leur usage ne nécessite pas l'assistance d'un professionnel de la santé.</li>
  </ol>
  <li>Produits du tabac tels que les cigarettes, les cigares, les pipes ou les cigarettes électroniques, les vaporisateurs ou d'autres appareils et accessoires vaporisateurs.</li>
  <li>Échantillons, testeurs ou articles promotionnels qui ne sont pas destinés à la vente.</li>
  <li>Tout type de devise.</li>
  <li>N'importe quel type de nourriture et boisson.</li>
  <li>Articles faisant la promotion de services de prêt d'argent, de dispositifs pour faire de l'argent facile, de jeux d'argent.</li>
  <li>Articles pour adultes tels que des sex toys et autres articles de fétichisme dérivés, de la pornographie (p. ex. livres au contenu pornographique/cru), ainsi que les articles faisant la promotion de services sexuels et les propositions de vente d'articles de fétichisme.</li>
  <li>Uniformes de travail officiels tels que :</li>
  <ul>
    <li>Uniformes et accessoires d'entreprises de livraison ou d'expédition tels que des chapeaux, des chemises, des pantalons, des gilets, des vestes, des chaussures, des casquettes, des sacs à dos, des badges, etc.</li>
    <li>Uniformes et accessoires de travail des pompiers, de la police, des services d'urgence, etc.</li>
  </ul>
  <li>Produits utilisés pour la destruction ou la falsification de documents, la suppression des données et autres activités illégales.</li>
  <li>Appareils d'écoute électronique, caméras cachées et autres dispositifs de surveillance ou d'espionnage.</li>
  <li>Articles qui, selon TCG Place, nuisent à l'image, à la réputation ou à la qualité de la plateforme, tels que :</li>
  <ul>
    <li>Photos de mauvaise qualité, floues, sur-exposées, etc.</li>
    <li>Photos avec des filigranes, des logos, des bords colorés, des bords irréguliers ou d'autres marques qui détournent l'attention de l'article principal.</li>
    <li>Photos contenant du texte, des coordonnées ou des prix en texte brut (p. ex. superpositions).</li>
    <li>Photos avec des logos d'autres marques, des symboles de marques ou d'autres marques distinctives qui ne sont pas pertinentes pour l'article lui-même.</li>
    <li>Photos d'articles non identiques à l'article réellement vendu (p. ex. une photo d'un téléphone portable, mais l'annonce concerne des écouteurs).</li>
    <li>Photos avec des prix exagérément bas, des prix peu clairs ou des prix qui ne correspondent pas à l'article annoncé (p. ex. une annonce pour un iPhone avec une photo d'un iPhone, mais le prix est pour un accessoire d'iPhone).</li>
    <li>Photos contenant des cadres, des bordures, des arrière-plans ou des images supplémentaires qui ne sont pas liés à l'article lui-même.</li>
  </ul>
</ul>
<h2>2. POLITIQUES POUR LES ACHETEURS PARTICULIERS</h2>
<h3>a. COMMUNICATION AVEC LES VENDEURS</h3>
<p>Lorsque vous achetez un article sur TCG Place, nous vous encourageons à communiquer directement avec le vendeur pour poser des questions, clarifier les détails ou demander des photos supplémentaires avant de finaliser votre achat.</p>
<p>Assurez-vous de respecter les règles de communication de TCG Place, telles que l'interdiction des propos injurieux, offensants, discriminatoires ou contraires aux bonnes mœurs. En cas de violation de ces règles, votre compte peut être suspendu ou résilié.</p>
<h3>b. PAIEMENT ET EXPÉDITION</h3>
<p>Les paiements et les modalités d'expédition doivent être convenus entre l'acheteur et le vendeur. TCG Place ne facilite pas les paiements et n'est pas responsable des transactions financières entre les utilisateurs.</p>
<p>Nous recommandons aux acheteurs d'utiliser des méthodes de paiement sécurisées, telles que PayPal, pour bénéficier d'une protection en cas de litige.</p>
<p>En ce qui concerne l'expédition, il est de la responsabilité du vendeur de fournir des informations précises sur les frais d'expédition, les délais et les méthodes d'expédition.</p>
<h3>c. RETOURS ET REMBOURSEMENTS</h3>
<p>Les politiques de retour et de remboursement sont déterminées par chaque vendeur. Avant d'acheter un article, assurez-vous de consulter les politiques du vendeur concernant les retours et les remboursements.</p>
<p>En cas de problème avec une transaction, nous encourageons les acheteurs et les vendeurs à essayer de résoudre le problème de manière amicale. Si vous ne parvenez pas à trouver un accord, vous pouvez signaler le problème à TCG Place, qui examinera la situation et prendra les mesures appropriées.</p>
<h3>d. SIGNALEMENT DES PROBLÈMES</h3>
<p>Si vous rencontrez un problème avec un vendeur, un article ou une transaction sur TCG Place, vous pouvez le signaler à notre équipe de support. Nous examinerons votre signalement et prendrons les mesures nécessaires pour résoudre le problème.</p>
<p>Il est important de signaler tout comportement frauduleux, abusif ou contraire aux règles de la plateforme afin de maintenir une communauté sûre et fiable pour tous les utilisateurs.</p>
<p>Ces politiques pour les acheteurs particuliers sont mises en place pour garantir une expérience positive et sécurisée sur TCG Place. Nous vous encourageons à les lire attentivement et à les respecter lors de vos achats.</p>

</ion-content>
