ion-icon {
  width: 30px;
}

swiper-container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
}

swiper-slide {
  width: auto;
}

.tile-container {
	display: flex;
	justify-content: space-between;
	padding: 0 0.5em;
	align-items: center;

  ion-icon {
    color: var(--color-title);
  }
}

img > .logo{
  width: 100px !important;
}

a {
	color: #3880ff;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}
