ion-card {
	margin: 0.5em;
}

ion-card-content {
	padding: 1px 5px;
}

ion-grid {
	padding: 0px;
}

h2 {
	color: black;
	font-size: 18px;
	font-weight: 500;
}

h3 {
	color: #333333; /* Dark gray */
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h4 {
	color: #333333; /* Medium gray */
	font-size: 12px;
	font-weight: 400;
}

p {
	color: #333333; /* Medium gray */
	font-size: 11px;
	font-weight: 400;
}

ion-badge {
	background-color: rgba(56, 128, 255, 0.3);
	margin-top: 3px;
	padding: 2px 0.7em;
}
