ion-card{
  margin: 0.5em;
}

ion-card-content{
  padding: 0.5em;
}

ion-grid{
  padding: 0px;
}

h2{
  color : black;
  font-size: 18px;
  font-weight: 500;
}

h3{
  color : #333333;  /* Dark gray */
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4{
  color: #3880ff;
  font-size: 12px;
  font-weight: 400;
}

.badge{
  background-color: rgba(91, 0, 223, 0.3);
  margin-top: 3px;
  padding: 3px 0.7em;
}
