.payment-image{
  width: 150px;
  height: auto;
}

ion-row{
  margin: 3px 0;
}

.last-row{
  margin-bottom: 10px;
}

.image-container{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.livraison-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.spin{
  position: relative;
  left: 45%;
}
.pageSpin{
  position: relative;
  left: 45%;
  top: 50%;
}
