ion-img{
  height: 40px;
}

ion-grid{
  padding-top: 0.5em;
}

.title{
  font-family: 'Orbitron' !important;
  font-size: 26px;
  font-weight: 400;
  color: #5b00df;
}
ion-toolbar{
  padding: 0 !important;
}
ion-searchbar{
  padding: 0 0.5em;
}
